<html>
  <head>
    <title>Desafio 01</title>
    <style>
      body {
        font-family: sans-serif;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    {% block header %}
      <h1>Omnistack Bootcamp - Desafio 01</h1>
    {% endblock %}

    {% block content %}
    {% endblock %}
  </body>
</html>
